<aside class="desktop-menu">
    <div class="desktop-menu__container">
        <main>
            <div class="desktop-menu__links">
                <ul>
                    <a href="#"><span>Главная</span></a>
                    <a href="#"><span>О президенте</span></a>
                    <a href="#"><span>Об Академии</span></a>
                    <a href="#"><span>Отзывы</span></a>
                    <a href="#"><span>Контакты</span></a>
                </ul>
                <ul>
                    <a href="#"><span>Онлайн тест на суицид</span> <em>Special</em></a>
                    <a href="#"><span>Онлайн школа</span></a>
                    <a href="#"><span>База знаний</span></a>
                    <a href="#"><span>Блок: бросить курить</span></a>
                </ul>
            </div>
            <div class="desktop-menu__services">
                <h5>Список курсов</h5>
                <ul>
                    <a href="#"><span>Быстрый старт на <br> ознакомительый период</span></a>
                    <a href="#"><span>Вес воли</span></a>
                    <a href="#"><span>Курс по процессам</span></a>
                </ul>
                <h5>Магазин</h5>
                <ul>
                    <a href="#"><span>Книги</span></a>
                    <a href="#"><span>Сувениры</span></a>
                </ul>
            </div>
            <div class="desktop-menu__contacts">
                <ul>
                    <li>
                        <span>Звонки по России:</span>
                        <a href="tel:+79504438243">+7 950 443 82 43</a>
                    </li>
                    <li>
                        <span>Звонки по Франции:</span>
                        <a href="tel:+33781843020">+33 7 81 84 30 20</a>
                    </li>
                    <li>
                        <span>E-mail:</span>
                        <a href="mailto:permvagin@gmail.com">permvagin@gmail.com</a>
                    </li>
                    <li>
                        <span>Skype:</span>
                        <a href="#">typhon-out</a>
                    </li>
                </ul>
                <div class="desktop-menu__contacts-social">
                    <a href="#"><svg><use xlink:href="./assets/images/svg/sprite.svg#instagramIcon"></use></svg></a>
                    <a href="#"><svg><use xlink:href="./assets/images/svg/sprite.svg#facebookIcon"></use></svg></a>
                    <a href="#"><svg><use xlink:href="./assets/images/svg/sprite.svg#vkIcon"></use></svg></a>
                    <a href="#"><svg><use xlink:href="./assets/images/svg/sprite.svg#youtubeIcon"></use></svg></a>
                </div>
            </div>
        </main>
    </div>
</aside>