<aside class="mobile-menu">
    <div class="mobile-menu__container">
        <ul>
            <a href="#">Об академии</a>
            <a href="#">Онлайн школа</a>
            <a href="#">Список курсов</a>
            <a href="#">Авторский тест</a>
            <a href="#">Библиотека</a>
        </ul>
        <div class="mobile-menu__btn">
            <a href="#" class="g-arrow-btn">
                <span>Консультация</span>
                <svg><use xlink:href="./assets/images/svg/sprite.svg#linkArrow"></use></svg>
            </a>
        </div>
    </div>
</aside>