<div class="modal modal--large modal--help">
    <div class="modal__container contact-form">
        <button class="modal__close"><svg><use xlink:href="./assets/images/svg/sprite.svg#closeModal"></use></svg></button>
        <h2>Помощь с выбором</h2>
        <div class="g-input">
            <input autocomplete="off" type="text" data-validate-field="name" required>
            <label for="name">Имя</label>
            <div class="g-input__hint">Заполните это поле</div>
        </div>
        <div class="g-input">
            <input autocomplete="off" type="tel" data-validate-field="tel" placeholder="+_ (___) __-__-___" required>
            <label for="name">Номер телефона</label>
            <div class="g-input__hint">Заполните это поле</div>
        </div>
        <button class="modal__btn contact-form-submit g-blue-btn" type="submit">Отправить заявку</button>
        <div class="modal__policy contact-form__wrapper-form-policy">
            <input id="policyCheckbox" type="checkbox" data-validate-field="checkbox">
            <label for="policyCheckbox">
                <svg><use xlink:href="./assets/images/svg/sprite.svg#checkboxIcon"></use></svg>
                <p>Нажимая на кнопку вы соглашаетесь с политикой конфиденциальности и даете свое согласие на обработку персональных данных</p>
            </label>
        </div>
    </div>
</div>