<div class="modal modal--review" data-modal="review">
    <div class="modal__container contact-form">
        <button class="modal__close"><svg><use xlink:href="./assets/images/svg/sprite.svg#closeModal"></use></svg></button>
        <h2>Оставить отзыв</h2>
        <div class="g-input">
            <input autocomplete="off" type="text" data-validate-field="name" required>
            <label for="name">Как вас зовут?</label>
            <div class="g-input__hint">Заполните это поле</div>
        </div>
        <div class="g-textarea">
            <textarea autocomplete="off" name="message" type="text" data-validate-field="message" placeholder="Напишите что нибудь"></textarea>
            <div class="g-input__hint">Заполните это поле</div>
        </div>
        <button class="modal__btn contact-form-submit g-blue-btn" type="submit">Отправить</button>
    </div>
</div>