<div class="modal modal--login-restricted" data-modal="login-restricted">
    <div class="modal__container">
        <button class="modal__close"><svg><use xlink:href="./assets/images/svg/sprite.svg#closeModal"></use></svg></button>
        <h2>Доступ ограничен</h2>
        <p>Доступ к данной статье только для зарегистрированных пользователей.</p>
        <p class="modal__pb">Для просмотра войдите в личный кабинет.</p>
        <a href="#" class="g-arrow-btn">
            <span>Войти</span>
            <svg><use xlink:href="./assets/images/svg/sprite.svg#linkArrow"></use></svg>
        </a>
        <p>Нет аккаунта? <a href="#">Зарегистрируйтесь</a></p>
    </div>
</div>