<div class="modal modal--tariff" id="modalTariff" data-modal="tariff">
    <div class="modal__container">
        <!-- <button class="modal__close"><svg><use xlink:href="./assets/images/svg/sprite.svg#closeModal"></use></svg></button> -->
        <h2>Этот материал доступен по подписке</h2>
        <p>Выберите тариф, чтобы получить доступ к этим и другим материалам.</p>
        <div class="modal__tariffs">
            <button class="modal__tariffs-item">
                <ul>
                    <li>
                        <span>Товар:</span>
                        <em>Подписка</em>
                    </li>
                    <li>
                        <span>Наименование:</span>
                        <em>Тарфи “Премиум”</em>
                        <p>Неограниченный доступ к платным статьям.</p>
                    </li>
                    <li>
                        <span>Срок:</span>
                        <em>1 месяц</em>
                    </li>
                    <li>
                        <span>Сумма:</span>
                        <em>200 ₽</em>
                    </li>
                    <svg class="modal__tariffs-item-check"><use xlink:href="./assets/images/svg/sprite.svg#checkIcon"></use></svg>
                </ul>
            </button>
            <button class="modal__tariffs-item active">
                <ul>
                    <li>
                        <span>Товар:</span>
                        <em>Подписка</em>
                    </li>
                    <li>
                        <span>Наименование:</span>
                        <em>Тарфи “Премиум”</em>
                        <p>Неограниченный доступ к платным статьям.</p>
                    </li>
                    <li>
                        <span>Срок:</span>
                        <em>1 месяц</em>
                    </li>
                    <li>
                        <span>Сумма:</span>
                        <em>200 ₽</em>
                    </li>
                    <svg class="modal__tariffs-item-check"><use xlink:href="./assets/images/svg/sprite.svg#checkIcon"></use></svg>
                </ul>
            </button>
            <button class="modal__tariffs-item">
                <ul>
                    <li>
                        <span>Товар:</span>
                        <em>Подписка</em>
                    </li>
                    <li>
                        <span>Наименование:</span>
                        <em>Тарфи “Премиум”</em>
                        <p>Неограниченный доступ к платным статьям.</p>
                    </li>
                    <li>
                        <span>Срок:</span>
                        <em>1 месяц</em>
                    </li>
                    <li>
                        <span>Сумма:</span>
                        <em>200 ₽</em>
                    </li>
                    <svg class="modal__tariffs-item-check"><use xlink:href="./assets/images/svg/sprite.svg#checkIcon"></use></svg>
                </ul>
            </button>
        </div>
        <button type="button" class="g-arrow-btn" data-modal-btn="pay">
            <span>Получить доступ</span>
            <svg><use xlink:href="./assets/images/svg/sprite.svg#linkArrow"></use></svg>
        </button>
    </div>
</div>