<div class="modal modal--restricted" data-modal="restricted">
    <div class="modal__container">
        <button class="modal__close"><svg><use xlink:href="./assets/images/svg/sprite.svg#closeModal"></use></svg></button>
        <h2>Доступ ограничен</h2>
        <p>Данная статья является ограниченной и открыта для просмотра только пользователям с ежемесячной подпиской или по индивидуальной покупке.</p>
        <p>Для просмотра требуется приобрести выбранный товар или <a href="#">оформите ежемесячную подписку</a></p>
        <div class="modal__products">
            <ul class="modal__products-item">
                <li>
                    <span>Товар:</span>
                    <em>Статья</em>
                </li>
                <li class="modal__products-item-name">
                    <span>Наименование:</span>
                    <em>Перестаньте развивать мозг</em>
                </li>
                <li class="modal__products-item-price">
                    <span>Сумма:</span>
                    <em>1 499 ₽</em>
                </li>
            </ul>
        </div>
        <a href="#" class="g-arrow-btn">
            <span>Получить доступ</span>
            <svg><use xlink:href="./assets/images/svg/sprite.svg#linkArrow"></use></svg>
        </a>
    </div>
</div>