<div class="modal modal--book" data-modal="book">
    <div class="modal__container">
        <button class="modal__close"><svg><use xlink:href="./assets/images/svg/sprite.svg#closeModal"></use></svg></button>
        <picture class="modal__avatar"><img class="lozad lozad--disabled" data-src="./assets/images/modal-avatar-book-1.png" data-srcset="./assets/images/modal-avatar-book-1@2x.png" alt="modal-book"></picture>
        <main>
            <h4>Доктор, я счастлив? Небанальные советы психотерапевта</h4>
            <p>Юрий Вагин — врач психотерапевт со стажем работы более 30 лет, кандидат медицинских наук, директор «Психологического центра доктора Вагина», автор 8 монографий и более 50 научных статей, создатель тифоаналитической терапии.</p>
            <ul>
                <li>
                    <em>Тема: </em>
                    <span>Популярная психотерапия</span>
                </li>
                <li>
                    <em>Год выпуска: </em>
                    <span>Год выпуска: 2019 г.</span>
                </li>
                <li>
                    <em>Количество страниц: </em>
                    <span>288</span>
                </li>
            </ul>
            <footer>
                <a href="#" class="g-arrow-btn modal__ozon-btn">
                    <span>Купить на Ozone</span>
                    <svg><use xlink:href="./assets/images/svg/sprite.svg#linkArrow"></use></svg>
                </a>
                <a href="#" class="g-arrow-btn modal__litres-btn">
                    <span>Купить на Litres</span>
                    <svg><use xlink:href="./assets/images/svg/sprite.svg#linkArrow"></use></svg>
                </a>
            </footer>
        </main>
    </div>
</div>