.enroll {
    height: 724px;
    position: relative;

    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% auto;

  
    margin-left: auto;
    margin-right: auto;

    display: flex;
    width: 100%;

    @media (max-width: 1920px) { background-size: 1920px auto }
    @media (max-width: 768px) { background-size: 768px 100% }

    @media (max-width: 374px) { 
        height: 500px;
        background-size: 768px 724px;
    }

    &::after {
        content: "";
        display: block;

        width: 100%;
        height: 100%;

        background: url('./../images/texture-2.png'), linear-gradient(75.24deg, rgba(23, 52, 48, 0.7) 12.5%, rgba(23, 52, 48, 0) 52.1%);
        background-blend-mode: soft-light, normal;
        
        position: absolute;
        top: 0;bottom: 0;
        right: 0;left: 0;

        @media (max-width: 768px) { 
            opacity: .9;
            background: url('./../images/texture-2.png'), linear-gradient(175.23deg, rgba(23, 52, 48, 0.7) 40.5%, rgba(23, 52, 48, 0) 66.85%);
        }
    }

    &__container {
        position: relative;
        z-index: 5;

        color: white;

        display: flex;
        flex-direction: column;
        justify-items: center;

        margin-top: auto;
        margin-bottom: auto;

        @media (max-width: 768px) { margin-top: 100px }

        @media (max-width: 575px) { 
            background-size: 768px 100%;
            margin-top: 50px;
        }
    }

    h2 {
        max-width: 470px;
        line-height: 90%;

        margin-bottom: 20px;

        @media (max-width: 374px) { 
            font-size: 26px;
            margin-bottom: 10px;
        }
    }

    p {
        max-width: 415px;
        opacity: .7;
        font-size: 16px;

        line-height: 120%;
        margin-bottom: 30px;

        @media (max-width: 575px) { margin-bottom: 20px }

        @media (max-width: 374px) { 
            font-size: 14px;
            margin-bottom: 20px;
        }
    }
}