.main-slider {
    height: 880px;
    position: relative;
    overflow: hidden;

    width: 100%;

    @media (max-width: 768px) { height: 700px }

    &__nav {
        display: flex;
        background-color: white;

        padding: 35px 60px;

        z-index: 15;
        position: absolute;
        bottom: 0; right: 0;

        transition: 1s ease;
        transform: translateY(100%);
        box-sizing: border-box;

        &.show { transform: translateY(0) }

        @media (max-width: 575px) { padding: 20px 24px }
        @media (max-width: 400px) { width: 100% }

        .arrows {
            margin-left: 60px;

            @media (max-width: 575px) {
                margin-left: auto;
                padding-left: 20px;
            }

            &-item {
                svg { fill: rgba(26, 26, 26, 0.4) }
                &:hover {
                    svg { fill: $corbeau }
                }

                @media (max-width: 400px) {
                    width: 40px;
                    height: 20px;

                    &--next { margin-left: 5px }
                    &--prev { margin-right: 5px }
                }
            }

            .swiper-button-disabled {
                svg { fill: #E5E5E5 } 
            }
        }

        &-bar {
            display: flex;
            align-items: center;

            ul {
                transition: .6s ease;

                main {
                    display: flex;
                    flex-direction: column;

                    transition: .6s ease;
                }

                li {
                    display: flex;
                    width: 18px;
                    height: 16px;

                    transition: .6s ease;

                    font-weight: 700;
                    font-size: 16px;
                    line-height: 100%;

                    color: #1A1A1A;
                }
            }

            &-leading {
                display: flex;
                flex-direction: column;
                overflow: hidden;
    
                width: 18px;
                height: 16px;
            }
        }
    }

    &__info {
        position: absolute;
        top: 0;

        z-index: 10;
        width: 100%;
        height: 100%;

        display: flex;
        
        .container__1440px {
            display: flex;
            height: 100%;
        }

        &-wrapper {
            display: flex;
            flex-direction: column;
            
            width: 100%;
            height: fit-content;
            
            max-width: 700px;
            margin: auto 0;
                        
            @media (max-width: 575px) { margin: 30px auto 0 }
            @media (max-width: 400px) { margin: 20px auto 0 }

            &-title {
                display: flex;
                flex-direction: column;

                margin-bottom: 30px;
                position: relative;
                overflow: hidden;

                min-height: 30px;
                transition: .6s ease;

                @media (max-width: 768px) { margin-bottom: 20px }
                @media (max-width: 400px) { margin-bottom: 10px }

                h1 {
                    display: flex;
                    flex-direction: column;

                    overflow: hidden;
                    transition: .6s ease;
                    visibility: hidden;
                    opacity: 0;

                    position: absolute;
                    top: 0;left: 0;
                    width: 100%;

                    span {
                        height: 72px;
                        overflow: hidden;

                        transition: 1s ease;
                        line-height: 200px;

                        white-space: nowrap;
                        display: inline-block;
                        text-overflow: ellipsis;
                        width: auto;

                        &.show { line-height: 95% }

                        @media (max-width: 768px) {
                            height: 48px;
                            font-size: 48px;
                        }
                        
                        @media (max-width: 575px) {
                            height: 40px;
                            font-size: 40px;
                        }
                        
                        @media (max-width: 400px) {
                            height: 32px;
                            font-size: 32px;
                        }
                        
                        @media (max-width: 350px) {
                            height: 30px;
                            font-size: 30px;
                        }
                    }

                    &.active {
                        opacity: 1;
                        visibility: visible;
                        height: auto;
                    }
                }
            }
            
            &-description {
                display: flex;
                flex-direction: column;

                max-width: 500px;
                height: 96px;

                padding-bottom: 40px;
                position: relative;
                transition: .6s ease all, 1.2s ease opacity;

                opacity: 0;

                &.show {
                    opacity: 1;
                }
            
                @media (max-width: 768px) { padding-bottom: 30px }
                @media (max-width: 400px) { padding-bottom: 20px }

                p {
                    overflow: hidden;
                    color: #939F9D;

                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;

                    opacity: 0;
                    transition: .6s ease opacity;

                    display: flex;

                    position: absolute;
                    top: 0;
                    left: 0;

                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 4;
                    -webkit-box-orient: vertical;
                    overflow: hidden;

                    &.active { opacity: 1 }
                    @media (max-width: 400px) { font-size: 14px }
                }
            }

            &-link {
                position: relative;

                .g-arrow-btn {
                    position: absolute;
                    top: 0;
                    left: 0;

                    overflow: hidden;
                    z-index: -1;
                    opacity: 0;

                    &.active {
                        z-index: 5;
                        opacity: 1;
                    }

                    @media (max-width: 400px) {
                        width: 100%;
                        box-sizing: border-box;
                        font-weight: 400;

                        svg { margin: 2px 0 0 auto }
                    }
                }
            }
        }
    }

    .swiper-wrapper {
        .swiper-slide-active {
            img { transform: scale(1) !important }
        }
    
        .swiper-slide {
            display: flex;
            align-items: center;
            justify-content: center;

            position: relative;
            
            img {
                transition: .6s ease transform;
                margin: auto;

                height: auto;
                width: 100%;
                min-width: 1920px;
    
                transform: scale(1.2);
                position: absolute;
                
                @media (max-width: 575px) {
                    min-width: 575px;
                    height: auto;
                }
            }
        }
    }
}