.g-pagination {
    display: none;
    align-items: center;
    justify-content: center;

    .swiper-pagination-bullet {
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 100%;
        background-color: #aaafad;
        transition: background-color 0.3s;
        cursor: pointer;

        @media (max-width: 360px) {
            width: 6px;
            height: 6px;
        }

        &:not(:last-child) { margin-right: 10px }
        &-active { background-color: #fff }
    }

    @media (max-width: 1300px) { display: flex }

    &--dark {
        transform: translateY(50px) !important;
        .swiper-pagination-bullet {
            &-active { background-color: #469AFC }
        }
    }
}