<footer class="footer">
    <div class="footer__container container__1440px">
        <div class="footer__contacts">
            <h5>Связаться со мной</h5>
            <ul>
                <li>
                    <span>Звонки по России:</span>
                    <a href="tel:+79504438243">+7 950 443 82 43</a>
                </li>
                <li>
                    <span>Звонки по Франции:</span>
                    <a href="tel:+33781843020">+33 7 81 84 30 20</a>
                </li>
                <li>
                    <span>E-mail:</span>
                    <a href="mailto:permvagin@gmail.com">permvagin@gmail.com</a>
                </li>
                <li>
                    <span>Skype:</span>
                    <a href="#">typhon-out</a>
                </li>
            </ul>
            <a href="https://wa.me/+7999999999" class="g-arrow-btn">
                <span>Консультация</span>
                <svg><use xlink:href="./assets/images/svg/sprite.svg#linkArrow"></use></svg>
            </a>
        </div>
        <nav class="footer__links">
            <ul class="footer__links-nav">
                <a href="./index.html">Главная</a>
                <a href="./index.html">Об Академии</a>
                <a href="./index.html">Список курсов</a>
                <a href="./index.html">Авторский тест</a>
                <a href="./index.html">Онлайн школа</a>
                <a href="./index.html">Библиотека</a>
            </ul>

            <ul class="footer__links-social">
                <a href="#"><svg><use xlink:href="./assets/images/svg/sprite.svg#instagramIcon"></use></svg></a>
                <a href="#"><svg><use xlink:href="./assets/images/svg/sprite.svg#facebookIcon"></use></svg></a>
                <a href="#"><svg><use xlink:href="./assets/images/svg/sprite.svg#vkIcon"></use></svg></a>
                <a href="#"><svg><use xlink:href="./assets/images/svg/sprite.svg#youtubeIcon"></use></svg></a>
            </ul>
        </nav>
        <div class="footer__copyright">
            <span class="footer__copyright-text">© 2022 Врач психотерапевт Вагин Юрий Робертович. Все права защищены.</span>
            <div class="footer__copyright-ruso">
                <span>Дизайн и разработка - </span>
                <a href="https://rusodot.ru" target="_blank">RUSO</a>
            </div>
        </div>
    </div>
</footer>